/* Bold */
@font-face {
  font-family: "Bradesco Sans Bold";
  src: url("../fonts/bradescosans-bold.eot");
  src: url("../fonts/bradescosans-bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/bradescosans-bold.woff2") format("woff2"),
    url("../fonts/bradescosans-bold.woff") format("woff"),
    url("../fonts/bradescosans-bold-web.ttf") format("truetype"),
    url("../fonts/bradescosans-bold.svg#wf") format("svg");
  font-display: swap;
}

@font-face {
  font-family: "Bradesco Sans Bold Italic";
  src: url("../fonts/bradescosans-bolditalic.eot");
  src: url("../fonts/bradescosans-bolditalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/bradescosans-bolditalic.woff2") format("woff2"),
    url("../fonts/bradescosans-bolditalic.woff") format("woff"),
    url("../fonts/bradescosans-bolditalic-web.ttf") format("truetype"),
    url("../fonts/bradescosans-bolditalic.svg#wf") format("svg");
  font-display: swap;
}

/* Condensed */
@font-face {
  font-family: "Bradesco Sans Condensed";
  src: url("../fonts/bradescosans-condensed.eot");
  src: url("../fonts/bradescosans-condensed.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/bradescosans-condensed.woff2") format("woff2"),
    url("../fonts/bradescosans-condensed.woff") format("woff"),
    url("../fonts/bradescosans-condensed-web.ttf") format("truetype"),
    url("../fonts/bradescosans-condensed.svg#wf") format("svg");
  font-display: swap;
}

@font-face {
  font-family: "Bradesco Sans Condensed Bold";
  src: url("../fonts/bradescosans-condensedbold.eot");
  src: url("../fonts/bradescosans-condensedbold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/bradescosans-condensedbold.woff2") format("woff2"),
    url("../fonts/bradescosans-condensedbold.woff") format("woff"),
    url("../fonts/bradescosans-condensedbold-web.ttf") format("truetype"),
    url("../fonts/bradescosans-condensedbold.svg#wf") format("svg");
  font-display: swap;
}

/* Light */
@font-face {
  font-family: "Bradesco Sans Light";
  src: url("../fonts/bradescosans-light.eot");
  src: url("../fonts/bradescosans-light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/bradescosans-light.woff2") format("woff2"),
    url("../fonts/bradescosans-light.woff") format("woff"),
    url("../fonts/bradescosans-light-web.ttf") format("truetype"),
    url("../fonts/bradescosans-light.svg#wf") format("svg");
  font-display: swap;
}

@font-face {
  font-family: "Bradesco Sans Light Italic";
  src: url("../fonts/bradescosans-lightitalic.eot");
  src: url("../fonts/bradescosans-lightitalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/bradescosans-lightitalic.woff2") format("woff2"),
    url("../fonts/bradescosans-lightitalic.woff") format("woff"),
    url("../fonts/bradescosans-lightitalic-web.ttf") format("truetype"),
    url("../fonts/bradescosans-lightitalic.svg#wf") format("svg");
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: "Bradesco Sans Medium";
  src: url("../fonts/bradescosans-medium.eot");
  src: url("../fonts/bradescosans-medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/bradescosans-medium.woff2") format("woff2"),
    url("../fonts/bradescosans-medium.woff") format("woff"),
    url("../fonts/bradescosans-medium-web.ttf") format("truetype"),
    url("../fonts/bradescosans-medium.svg#wf") format("svg");
  font-display: swap;
}

@font-face {
  font-family: "Bradesco Sans Medium Italic";
  src: url("../fonts/bradescosans-mediumitalic.eot");
  src: url("../fonts/bradescosans-mediumitalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/bradescosans-mediumitalic.woff2") format("woff2"),
    url("../fonts/bradescosans-mediumitalic.woff") format("woff"),
    url("../fonts/bradescosans-mediumitalic-web.ttf") format("truetype"),
    url("../fonts/bradescosans-mediumitalic.svg#wf") format("svg");
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: "Bradesco Sans Regular";
  src: url("../fonts/bradescosans-regular.eot");
  src: url("../fonts/bradescosans-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/bradescosans-regular.woff2") format("woff2"),
    url("../fonts/bradescosans-regular.woff") format("woff"),
    url("../fonts/bradescosans-regular-web.ttf") format("truetype"),
    url("../fonts/bradescosans-regular.svg#wf") format("svg");
  font-display: swap;
}

@font-face {
  font-family: "Bradesco Sans Regular Italic";
  src: url("../fonts/bradescosans-regularitalic.eot");
  src: url("../fonts/bradescosans-regularitalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/bradescosans-regularitalic.woff2") format("woff2"),
    url("../fonts/bradescosans-regularitalic.woff") format("woff"),
    url("../fonts/bradescosans-regularitalic-web.ttf") format("truetype"),
    url("../fonts/bradescosans-regularitalic.svg#wf") format("svg");
  font-display: swap;
}

/* Semibold */
@font-face {
  font-family: "Bradesco Sans Semibold";
  src: url("../fonts/bradescosans-semibold.eot");
  src: url("../fonts/bradescosans-semibold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/bradescosans-semibold.woff2") format("woff2"),
    url("../fonts/bradescosans-semibold.woff") format("woff"),
    url("../fonts/bradescosans-semibold-web.ttf") format("truetype"),
    url("../fonts/bradescosans-semibold.svg#wf") format("svg");
  font-display: swap;
}

@font-face {
  font-family: "Bradesco Sans Semibold Italic";
  src: url("../fonts/bradescosans-semibolditalic.eot");
  src: url("../fonts/bradescosans-semibolditalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/bradescosans-semibolditalic.woff2") format("woff2"),
    url("../fonts/bradescosans-semibolditalic.woff") format("woff"),
    url("../fonts/bradescosans-semibolditalic-web.ttf") format("truetype"),
    url("../fonts/bradescosans-semibolditalic.svg#wf") format("svg");
  font-display: swap;
}

/* Thin */
@font-face {
  font-family: "Bradesco Sans Thin";
  src: url("../fonts/bradescosans-thin.eot");
  src: url("../fonts/bradescosans-thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/bradescosans-thin.woff2") format("woff2"),
    url("../fonts/bradescosans-thin.woff") format("woff"),
    url("../fonts/bradescosans-thin-web.ttf") format("truetype"),
    url("../fonts/bradescosans-thin.svg#wf") format("svg");
  font-display: swap;
}

@font-face {
  font-family: "Bradesco Sans Thin Italic";
  src: url("../fonts/bradescosans-thinitalic.eot");
  src: url("../fonts/bradescosans-thinitalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/bradescosans-thinitalic.woff2") format("woff2"),
    url("../fonts/bradescosans-thinitalic.woff") format("woff"),
    url("../fonts/bradescosans-thinitalic-web.ttf") format("truetype"),
    url("../fonts/bradescosans-thinitalic.svg#wf") format("svg");
  font-display: swap;
}

/* XBold / Extrabold */
@font-face {
  font-family: "Bradesco Sans XBold";
  src: url("../fonts/bradescosans-xbold.eot");
  src: url("../fonts/bradescosans-xbold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/bradescosans-xbold.woff2") format("woff2"),
    url("../fonts/bradescosans-xbold.woff") format("woff"),
    url("../fonts/bradescosans-xbold-web.ttf") format("truetype"),
    url("../fonts/bradescosans-xbold.svg#wf") format("svg");
  font-display: swap;
}

@font-face {
  font-family: "Bradesco Sans XBold Italic";
  src: url("../fonts/bradescosans-xbolditalic.eot");
  src: url("../fonts/bradescosans-xbolditalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/bradescosans-xbolditalic.woff2") format("woff2"),
    url("../fonts/bradescosans-xbolditalic.woff") format("woff"),
    url("../fonts/bradescosans-xbolditalic-web.ttf") format("truetype"),
    url("../fonts/bradescosans-xbolditalic.svg#wf") format("svg");
  font-display: swap;
}
